<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>实习管理系统 - 学生定位签到</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/new_style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=MfKz4ibjHUbvJ5LRUvJu02Ay5KadKvKT"></script>
    <style>
        #loading{
            width: 100%;
            text-align: center;

        }
    </style>

</head>
<body>
    <div class="main-left">
    <div class="sidebar-wrapper">
        <div class="sidebar-menu">
            {% if isadmin == '1' %}
            <div class="menu-group">
                <div class="menu-item">
                    <a href="/province_map" class="menu-link">
                        <i class="fas fa-house"></i>
                        <span class="menu-text">智能看板</span>
                    </a>
                </div>
            </div>
            {% endif %}
            {% if isadmin == '1' %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne" style="background-color: #2a3042; color: #ffffffbd;">
                            实习信息管理
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/stu_info"
                                                                                          style="color: #ffffffbd;">实习生信息</a>
                        </div>
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/work_info"
                                                                                          style="color: #ffffffbd;">实习单位信息</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo" style="background-color: #2a3042; color: #ffffffbd;">
                            实习过程管理
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/feedback_list"
                                                                                          style="color: #ffffffbd;">悄悄话</a>
                        </div>
                        {% if isadmin == '1' %}
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/signin_record"
                                                                                          style="color: #ffffffbd;">签到记录</a>
                        </div>
                        {% endif %}
                        {% if isadmin == '1' %}
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/admin_reports" style="color: #ffffffbd;">实习周报审批</a>
                        </div>
                        {% else %}
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/report" style="color: #ffffffbd;">实习周报</a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree"
                                style="background-color: #2a3042; color: #ffffffbd;">
                            优秀实习生管理
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/excellent_practicer"
                                                                                          style="color: #ffffffbd;">优秀实习生申请</a>
                        </div>
                        {% if isadmin == '1' %}
                        <div class="accordion-body" style="background-color: #2a3042;"><a
                                href="/excellent_stu_application" style="color: #ffffffbd;">优秀实习生审批</a></div>
                        <div class="accordion-body" style="background-color: #2a3042;"><a href="/excellent_stu_info"
                                                                                          style="color: #ffffffbd;">优秀实习生信息</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="menu-group">
                <div class="menu-item">
                    <a href="/my_information" class="menu-link">
                        <i class="fas fa-user-cog"></i>
                        <span class="menu-text">个人信息</span>
                    </a>
                </div>
                {% if isadmin == '1' %}
                <div class="menu-item">
                    <a href="/college_manage" class="menu-link">
                        <i class="fas fa-university"></i>
                        <span class="menu-text">学院管理</span>
                    </a>
                </div>
                {% endif %}
                <div class="menu-item">
                    <a href="/sign_in_calendar" class="menu-link highlight">
                        <i class="fas fa-map-pin"></i>
                        <span class="menu-text">立即签到</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="map" style="height: 50em; width: 100%;"></div>
    <div id="loading">定位中...</div>
    <p id="location"></p>
<!--    <button id="signinButton">签到</button>-->
    <div class="signin" style="display: flex; justify-content: center; align-items: center;">
        <button class="btn btn-outline-secondary fbtn" id="signinButton" style="margin-top: 10px">签到</button>
    </div>


</body>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
